@use "../../../../styles/abstracts/variables" as v;

.fabWrapper {
  position: fixed;
  bottom: v.space(24);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 v.space(16);

  button {
    width: 100%;
  }

  @media (min-width: v.$breakpoint-tablet) {
    width: auto;
    padding: 0;

    button {
      width: auto;
    }
  }
}

.subtitle_home_page {
  color: v.$color-text-muted;
  font-size: v.$font-size-sm;
  font-weight: v.$font-weight-semibold;
  text-transform: uppercase;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width:100%;

  @media (min-width: v.$breakpoint-tablet) {
    flex-direction: row;
  }
}

.home__title {
  color: v.$color-pink-900;
  text-align: center;
  font-family: v.$font-family-base;
  font-size: v.$font-size-xl;
  font-weight: v.$font-weight-medium;
  margin-bottom: -1rem;
}

.home__wrapper1{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width: 100%;
}

.home__wrapper2{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:1.5rem;

  @media (min-width: v.$breakpoint-tablet) {
    gap:2rem;
    margin-top: 3rem;
  }
}
